.ticket-page {
  min-height: 100vh;
  padding: 40px;
  background: linear-gradient(135deg, #e6f6ff, #ffffff);
}

.tabs {
  display: flex;
  gap: 16px;
  margin-bottom: 30px;
}

.tab {
  padding: 10px 22px;
  border-radius: 6px;
  border: 1px solid #007bff;;
  cursor: pointer;
  background: #e9f3ff;
  color: #007bff;
  font-weight: bold;
  font-size: medium;
}

.tab.active {
  background: #007bff;
  color: white;
}

.tab.inactive {
  background: transparent;
}

.ticket-grid {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.ticket-card {
  width: 300px;
  padding: 20px;
  border-radius: 14px;
  border: 1.5px solid #4da3ff;
  background: white;
}

.label {
  font-size: 12px;
  color: #1e88ff;
  margin-bottom: 4px;
}

.value {
  font-size: 14px;
  color: #333;
  margin-bottom: 16px;
}

.value.bold {
  font-weight: 600;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.download-btn {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1.5px solid #4da3ff;
  background: transparent;
  color: #1e88ff;
  cursor: pointer;
  font-weight: 500;
}
